body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: "Roboto";
}

/* NAV SECTION */
.nav {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 800;
}

.nav-links ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
}

/* HEADER */
.header {
    background-color: #1F2937;

}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-image {
    width: 400px;
    height: 200px;
    background-color: darkslategray;
    color: #E5E7EB;
}