body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

/* NAV SECTION */
.nav {
    background-color: #1F2937;
    border-bottom: 1px solid #0E1826;
    display: flex;
    position: fixed;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

.nav span {
    display: flex;
    align-items: center;
    font-size: 55px;
    font-family: "Dokdo", Arial, Helvetica, sans-serif;
    color: goldenrod;
    text-shadow: 1px 1px 1px #F9FAF8;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F9FAF8;
    font-size: 20px;
    font-weight: 800;
    height: 50px;
    width: 50px;
    overflow: hidden;
    border-radius: 50% 0 0 50%;
    border: 2px solid goldenrod;
}

.logo-container {
    min-width: 300px;
}

.logo img {
    transform: translate(0px, 25px);
    height: 150px;
    width: 150px;
}

.nav-links ul {
    display: flex;
    min-width: 300px;
    justify-content: space-evenly;
    gap: 70px;
    list-style: none;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.nav-links a:hover {
    color: goldenrod;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

/* HEADER */
.header {
    display: flex; 
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background: url("https://wallpapercave.com/wp/wp8414374.jpg");

}

.hero {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    text-shadow: 1px 1px 1px black;
}


.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 0;
}

.hero-text {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0;
}

.hero-sign {
    width: 220px;
    height: 40px;
    font-size: 16px;
    font-weight: 700;
    appearance: none;
    border: none;
    cursor: pointer;
    color: #E5E7EB;
    /* background: none;
    border: 1px solid #E5E7EB; */
    background-color: rgb(245, 137, 13);
    border-radius: 3px;
    text-shadow: 1px 1px 1px black;
}

.hero-sign:hover {
    background-color:#1F2937;
    transition: 200ms;
}

/* INFO SECTION */
.info {
    height: 100vh;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info-title {
    color: #E5E7EB;
    font-size: 48px;
    margin-bottom: 80px;
    margin-top: -100px;
}

.img-container {
    display: grid;
    width: 100vw;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.img-sample {
    width: 400px;
    height: 300px;
    box-shadow: 1px 1px 1px #0E1826;
    cursor: pointer;
    border-radius: 5px;
}

.img-sample:hover {
    bottom: 3px;
    position: relative;
    transition: 150ms;
}

figcaption {
    color: #E5E7EB;

}

/* QUOTE */
.text-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100vw;
    background: linear-gradient(#1F2937, white);
}

.text-container {
    padding: 20px;
    background-color: rgb(245, 137, 13);
    color: #E5E7EB;
    width: 50vw;
    border-radius: 10px;
    box-shadow: 1px 2px 1px rgb(36, 34, 34);
    text-shadow: 1px 2px 1px rgb(36, 34, 34);
}

.quotes {
    font-size: 30px;
    font-family: "Dancing Script", Arial, Helvetica, sans-serif;
}

.author {
    text-align: end;
    font-size: 25px;
    margin-top: 50px;
}

.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: no-repeat center url("https://images.unsplash.com/photo-1581822261290-991b38693d1b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
}

.sign-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    border-radius: 10px;
    width: 600px;
    height: 100px;
    padding: 40px;
    gap: 40px;
    box-shadow: 1px 1px 1px black;
}

.text {
    color: #E5E7EB;
    font-size: 20px;
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    appearance: none;
    border: 2px solid #E5E7EB;
    border-radius: 2px;
    padding: 18px;
    background-color: #1F2937;
    color: #E5E7EB;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color:  #E5E7EB;
    border-top: 1px solid #0E1826;
}

@media (max-width: 600px) {
    .nav {
        flex-flow: column;
        height: auto;
    }

    .nav-links {
        padding: 10px 0;
    }

    .header {
        padding-bottom: 100px;
    }
    
    .info, .text-section {
        height: auto;
        padding: 150px 0;
    }

}